{#
/**
 * @file
 * Default view mode page menu template.
 *
 * Variables:
 * - links: An array of menu links.
 * - link_classes: A flag indicating if user is logged in.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.

 * @see template_preprocess_view_mode_page_menu()
 *
 * @ingroup themeable
 */
#}
{% set link_classes = ['link'] %}

<div {{ attributes }}>
  <div {{ content_attributes }}>

    <ul class="links">
      {% for link in links %}
        {% set link_class = [] %}

        {% if link.active %}
          {% set link_class = link_class|merge(['link--active']) %}
        {% endif %}

        {% if link.parent %}
          {% set link_class = link_class|merge(['link--parent']) %}
        {% endif %}

        <li class="{{ link_classes|merge(link_class)|join(' ') }}">
          <a href="{{ link.path }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
